:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --prinamy-color: crimson;
  --border-color: darkgray;
  --star-gold-color: gold;

  --header-height: 150px;
  --navbar-height: 48px;
  --navbar-wiht-search-height: calc(var(--header-height) - var(--navbar-height));
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* reponsive */

.grid {
  width: 1400px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-width {
  width: 100%;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}

/* test */

.grid__colum-2 {
  padding: 0 5px;
  width: calc(100% / 6);
}

.grid__colum-2-4 {
  padding: 0 5px;
  width: 20%;
}


.grid__colum-10 {
  padding: 0 5px;
  width: calc(100% / 6 * 5);
}



/* animation */

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes growth {
  from {
      transform: scale(var(--growth-from));
  }
  to {
      transform: scale(var(--growth-to));
  }
}

/* modal layout */

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  animation: fadeIn linear 0.1s;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal__body {
  --growth-from: 0.7;
  --growth-to: 1;
  margin: auto;
  z-index: 1;
  position: relative;
  animation: growth linear 0.1s;
}

/* button style */
.btn {
  min-width: 124px;
  height: 36px;
  padding: 0 16px;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  background-color: var(--white-color);
  color: var(--text-color);
  font-size: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1.6rem;
}

.auth-form__controls-back:hover {
  background-color: rgba(220, 20, 60, 0.15);
}

.btn.btn--size-s {
  font-size: 1.2rem;
  height: 32px;
  padding: 0 8px;
}

.btn--disible {
  background-color: #333;
  cursor: default;
}

.btn.btn--primary {
  background-color: var(--prinamy-color);
  color: var(--white-color);
}

/* icon */

.icon {
  width: 20px;
}


/* select input */

.select-input{
  height: 34px;
  min-width: 200px;
  padding: 0 12px;
  border-radius: 3px;
  background-color: var(--white-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.select-input:hover .select-input__list{
  display: block;
}


.select-input__label{
  display: block;
  font-size: 1.4rem;
}
.select-input__icon{
  display: block;
  font-size: 1.4rem;
  color: var(--text-color);
  position: relative;
  top: 2px;
}
.select-input__list{
  position: absolute;
  left: 0;
  right: 0;
  top: 27px;
  padding: 8px 16px;
  border-radius: 3px;
  box-shadow: 0 1px 8px darkgray;
  background-color: var(--white-color);
  list-style: none;
  animation: fadeIn ease-in 0.2s;
  display: none;
  z-index: 1;
}

.select-input__list::before {
  display: block;
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  height: 4px;
  top: -4px;
}

.select-input__item-link{
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--text-color);
  display: block;
  padding: 4px 0;
}
.select-input__item-link:hover{
  color: var(--prinamy-color);
}