/* only mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
    
    .header-with-search {
        justify-content: space-between;
    }

    .header__logo-link {
        width: unset;
        text-align: center;
        line-height: 0;
    }

    .header__logo-img {
        width: 120px;
    }

    .header__cart {
        margin: 0;
    }

    .header__search {
        position: fixed;
        top: var(--header-height);
        width: 100%;
        left: 0;
        z-index: 1;
        animation: appear linear 0.2s;
        display: none;
    }

    .header__search-on-mobile {
        display: block;
    }

    #search-on-mobile:checked + .header__search {
        display: flex;
    }

    .header__search-history {
        position: fixed;
        top: calc(var(--header-height) + var(--header-sort-bar-height));
    } 

    .mobile-category__item {
        width: 100px;
    }

    .app__content {
        margin: 0 4px;
    }

    .pagination-item__link {
        min-width: 32px;
        font-size: 1.6rem;  

    }

    .pagination-item {
        margin: 0;
    }

    @keyframes appear {
        from {
            top: calc(var(--header-height) / 2);
            opacity: 0;
        }
        to {
            top: var(--header-height);
            opacity: 1;
        }
    }
}

/* tablet + mobile */
@media (max-width: 1023px) {
    :root {
        --header-height: 68px;
        --navbar-height: 0px;
    }

    .hide-on-mobile-tablet {
        display: none;
    }

    .app__content {
        /* margin-top: calc(var(--header-height) + var(--header-sort-bar-height)); */
    }

    .header {
        position: fixed;
        z-index: 5;
        top: 0;
        left: 0;
        right: 0;
    }

    .header__cart-list {
        position: fixed;
        padding: 0 calc((100% - 652px) / 2);
        top: var(--header-height);
        right: 0;
        left: 0;
        width: 100%;
    }

    .header__cart-list::before {
        display: none;
    }

    .header__sort-bar {
        display: flex;
    }

    .mobile-category {
        display: block;
    }
    .footer__download-qr {
        width: 20%;
    }
}

/* only tablet */
@media (min-width: 740px) and (max-width: 1023px){
    .hide-on-tablet {
        display: none;
    }
}